<form method="post" action="/post.php" class="bubble">
	<header>Account settings</header>

	<hr/>

	<fieldset>
		<label>Username</label>
		<input type="text" name="nn_username" value="{username}" disabled/>

		<label>Password</label>
		<input type="password" name="nn_password1"/>

		<label>Repeat password</label>
		<input type="password" name="nn_password2"/>

		<label>E-mail address</label>
		<input type="text" name="nn_email" value="{email}" disabled/>
	</fieldset>

	<hr/>

	<fieldset>
		<input type="submit" value="Save"/>
	</fieldset>
</form>
