<!DOCTYPE html>
<head>
	<title></title>
	<meta content="utf-8"/>
	<meta http-equiv="refresh" content="3; url=/"/>
	<style type="text/css">
		body {
			background-color:#F2EBE3;
			font-family:Arial, sans-serif;
			font-size:13px;
			color:#3E2F20;
		}

		article {
			padding:10px;
			background-color:#F9F5F1;

			-moz-box-shadow:0 0 6px rgba(102,87,70,0.1);
			-webkit-box-shadow:0 0 6px rgba(102,87,70,0.1);
			box-shadow:0 0 6px rgba(102,87,70,0.1);

			-moz-border-radius:6px;
			-webkit-border-radius:6px;
			border-radius:6px;
			width:300px;
			margin:100px auto 0;
			text-align:center;
		}
	</style>
</head>
<body>
	<article>
		{message}
	</article>
</body>
