<!DOCTYPE html>
<html>
<head>
	<title>Nonograms</title>
	<meta content="utf-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<meta name="author" content=""/>
	<link rel="stylesheet" type="text/css" href="/template/style.css"/>
	<link rel="stylesheet" type="text/css" href="/template/forms.css"/>
	<link rel="stylesheet" type="text/css" href="/template/grid.css"/>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="/template/js/core.js"/></script>
	<script type="text/javascript" src="/template/js/nonograms.js"/></script>

</head>
<body>

	<section id="userbar">
	{userbar}
	</section>

	<header id="header">
		<div class="center">
			<a href="/"><img src="/template/images/header.png" alt="Nonograms"/></a>
		</div>
	</header>

	<nav id="nav">
		{nav}
	</nav>

	<section id="content" class="{content-class}">
	{content}
	</section>

	<footer id="footer">
		<div class="center">
			L
		</div>
	</footer>

</body>
</html>
